In [1]:
from django_for_jupyter import init_django
init_django('loanpredictor')

In [12]:
from loans.models import Loan
import pandas as pd
from sklearn import preprocessing

In [10]:
qs = Loan.objects.ml_data()
qs = qs.values('state', 'term', 'no_emp','created_jobs','retained_jobs', 
                     'gross_appv', 'recession', 'secured_loan', 'gov_secured',
                     'is_rural', 'low_doc', 'new_business', 'econ_sector',
                     'inflation_on_loan','unemployment_on_loan', 'defaulted')

In [11]:
df = pd.DataFrame(qs)
df.head()

,internal_id,state,term,no_emp,created_jobs,retained_jobs,gross_appv,recession,secured_loan,gov_secured,is_rural,low_doc,new_business,econ_sector,inflation_on_loan,unemployment_on_loan,defaulted
0,6914795009,26,6,30,0,30,210000.0,False,False,None,True,False,False,3,False,True,False
1,6870455009,24,3,10,0,10,5000.0,False,False,None,True,False,True,15,False,True,False
2,6792685001,17,5,4,8,12,100000.0,False,False,None,False,False,False,3,False,True,False
3,6750645002,19,3,20,0,20,50000.0,False,False,None,False,False,False,6,False,True,False
4,6748475000,30,6,18,15,18,100000.0,False,False,None,True,False,False,18,False,True,False

In [23]:
lb = preprocessing.LabelBinarizer()
objList = df.select_dtypes(include = "bool").columns
for feature in objList:
    df[feature] = lb.fit_transform(df[feature])

Index(['secured_loan', 'is_rural', 'low_doc', 'new_business',
       'inflation_on_loan', 'unemployment_on_loan', 'defaulted'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677451 entries, 0 to 677450
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   internal_id           677451 non-null  int64
 1   state                 677451 non-null  int64
 2   term                  677451 non-null  int64
 3   no_emp                677451 non-null  int64
 4   created_jobs          677451 non-null  int64
 5   retained_jobs         677451 non-null  int64
 6   gross_appv            677451 non-null  object
 7   recession             677451 non-null  int32
 8   secured_loan          677451 non-null  int32
 9   gov_secured           0 non-null       object
 10  is_rural              677451 non-null  int32
 11  low_doc               677451 non-null  int32
 12  new_business          677451 non-null  int32
 13  econ_sector           677451 non-null  int64
 14  inflation_on_loan     677451 non-null  int32
 15  unemployment_on_loan  677451 non-null  int32
 16  defaulted             677451 non-null  int32
dtypes: int32(8), int64(7), object(2)
memory usage: 67.2+ MB
None

In [24]:
df.head()

,internal_id,state,term,no_emp,created_jobs,retained_jobs,gross_appv,recession,secured_loan,gov_secured,is_rural,low_doc,new_business,econ_sector,inflation_on_loan,unemployment_on_loan,defaulted
0,6914795009,26,6,30,0,30,210000.0,0,0,None,1,0,0,3,0,1,0
1,6870455009,24,3,10,0,10,5000.0,0,0,None,1,0,1,15,0,1,0
2,6792685001,17,5,4,8,12,100000.0,0,0,None,0,0,0,3,0,1,0
3,6750645002,19,3,20,0,20,50000.0,0,0,None,0,0,0,6,0,1,0
4,6748475000,30,6,18,15,18,100000.0,0,0,None,1,0,0,18,0,1,0

In [17]:
df['recession'].value_counts()

recession
1    419968
0    257483
Name: count, dtype: int64